site_name: Veri Defteri

theme:
  name: material
  language: tr
  palette:
    scheme: default
  features:
    - navigation.tracking
    - navigation.expand
    - navigation.indexes
    # navigation.instant bilerek kapalı, MathJax ile bazen sorun çıkarıyor

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
